body {
    background-color: #EFEEEE;
}

.main-container {
    display: flex;
    width: 100%;
    /* text-align: center; */
}

.content {  /* background-color: rgb(250, 250, 250); */
    width: 100%;
    background-size: cover;
    text-align: center;
    margin-top: 5%;
    margin-left: 21%;
}

    .login { 
        display:grid;
        grid-template-columns:1fr 1fr;
        position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 1000000;
            background: #2C2C3C;
    }

.welcome1 { 
   color:white;
  align-self:center;
}

.logologin1 { 
    display:flex;
   flex-direction:column;
   color:white;
   text-align:center;
   align-self:center;
}

.welcome2 { 
   text-align:center;
   box-shadow: inset 0px 0px 0px 14px rgba(247,225,4,1);
}

.logologin2 { 
    display:none;
}

.logintittle {
    color:white;
    text-align:center;
   align-self:flex-start;
   padding-top:4%;
}



@media (max-width:768px) {
    .main-container h1 {
        display: grid;
        width: 100%;
        text-align: center;
        margin-top: 15%;
        font-size: 1rem;
    }

    .content {
        width: 100%;
        background-size: cover;
        text-align: center;
        margin-top: 3.4%;
        margin-left: 0;
    }


    .login { 
        display:grid;
        grid-template-columns:1fr;
}

.welcome1 { 
    display:none;
}
.logologin1 { 
    display:none;
}

.welcome2 { 
    width:100%;
   text-align:center;
   box-shadow: inset 0px 0px 0px 14px rgba(247,225,4,1);

}

.logologin2 { 
    width:100%;
    display:flex;
    flex-direction:row;
    color:white;
    text-align:center;
}

.logintittle {
    width:100%;
    color:white;
    text-align:center;
   align-self:flex-start;
   padding-top:4%;
}




















}