.main-container {
    display:flex;
    width:100%;
    background-color:rgb(255, 255, 255);
    text-align:center;
}

.content {
    background-color:#EFEEEE;
    width:100%;
    background-size:cover;
    color:rgb(184, 181, 181);
    text-align:center;
    margin-top: 3.4%;
    /* margin-left: 10%; */
}  

.container {
    width:100%;
    /* height:100vh; */
    /* background-color:rgb(53, 52, 52); */
}

.login {
    background-color:rgb(77, 76, 76);
    width:100%;
    background-size:cover;
    background-size:cover;
    text-align:center;
    margin-top: 3.4%;
    margin-left: 0;
}  

.container {
    width:100%;
    height:100vh;
    background-color:rgb(53, 52, 52);
}


.login {
    background: orangered;
    margin-top:100px;
}

.form {
    margin-top:100px;
}



.login {
    background: orangered;
    margin-top:100px;
}

.form {
    margin-top:100px;
}



@media (max-width:768px) {
.main-container h1 {
    display: grid;
    width: 100%;
    text-align: center;
    margin-top: 15%;
    font-size:1rem;
}
.login {
    width:100%;
    background-size:cover;
    text-align:center;
    margin-top: 3.4%;
    margin-left: 0;
}  
}