body {
    background-color: #EFEEEE;
}

.main-container {
    display: flex;
    width: 100%;
    /* text-align: center; */
}

.content {
    /* background-color: rgb(250, 250, 250); */
    width: 100%;
    background-size: cover;
    /* color: rgb(184, 181, 181); */
    text-align: center;
    margin-top: 5%;
    margin-left: 21%;
}





    .login {
     display: grid;
     grid-template-columns: 1fr 1fr;
    text-align: center;
        position: fixed;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.9);
    }

    .welcome1 {
        color: white;
        text-align:center;
        align-self:center;
        }

        .logologin1 {
            align-self:center;
            margin-bottom: 40px;
        }
    
        .logologin2 {
            display:none;
            align-self:center;
            margin-bottom: 40px;
        }

        .welcome2 {
            color: white;
        text-align:center;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            box-shadow: inset 0px 0px 0px 14px rgba(247,225,4,1);
        }

        .login-title {
            padding-top:4%;

        }




@media (max-width:768px) {
    .main-container h1 {
        display: grid;
        width: 100%;
        text-align: center;
        margin-top: 15%;
        font-size: 1rem;
    }
    .content {
        width: 100%;
        background-size: cover;
        text-align: center;
        margin-top: 3.4%;
        margin-left: 0;
    }
    .login {
        display: flex;
        flex-direction:column;
    }
    .welcome1 {
      display:none;
        }

        .logologin1 {
            display:none;
            align-self:center;
            margin-bottom: 40px;
        }
        .welcome2 {
            color: white;
        text-align:center;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            box-shadow: inset 0px 0px 0px 14px rgba(247,225,4,1);
        }
        .logologin2 {
            display:flex;
            align-self:center;
            margin-bottom: 40px;
        }

}