.weekText{
    background: green;
}
/*.firstRadio [type="radio"]{
    -webkit-appearance: none;
}

*/.firstRadio [type="radio"]:checked {
    background: blue;
    color: gray;
    box-shadow: 0 15px 45px rgba(24,249,141,0.2);
}
.firstRadio{
    background: blue;
}