.logo {
    width: 60px;
    height: 72px;
}
.toolbar {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:FFFFFF;
    height: 100px;
    box-shadow: inset 0 -10px 0 #2C2C3C;
}

.toolbar__navigation {
    display:flex;
    height:100%;
    align-items:center; 
    padding:0 1rem;
}

.toolbar__logo {
    margin-left:1rem;
}

.toolbar__logo a {
color:rgb(34, 33, 33);
text-decoration:none;
font-size:1.5rem;
}

.spacer {
flex: 1;
}

.toolbar_navigation-items ul {
list-style:none;
margin:0;
padding:0;
display:flex;
}

.toolbar_navigation-items li {
  padding:0;  
}

.toolbar_navigation-items a {
    color:rgb(33, 31, 31);
    text-decoration:none;
    padding:7px;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
color:rgb(233, 178, 59);
}


@media (max-width:768px) {
    .toolbar__logo a {
        color:rgb(34, 33, 33);
        text-decoration:none;
        font-size:1rem;
        }
   .toolbar_navigation-items {
       display:flex;
       text-align: center;
   }
   .toolbar_navigation-items a {
    padding:5px;
    font-size:12px;
    text-align:center;
}
}

 @media (min-width:769px) {
    .toolbar__toggle-button {
        display:flex;
    } 
    .toolbar__logo {
        margin-left:0;
        }
}