.side-drawer {
    height:100%;
    background:rgb(231, 231, 231);
    background:rgba(0,0,0,0.1);
    box-shadow:2px 0px 7px rgba(0,0,0,0.3);
    position:fixed;
    top:0;
    left:0;
    width:70%;
    max-width:400px;
    /* z-index:200; */
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;

}

.side-drawer.open {
height:100%;
list-style:none;
display:flex;
flex-direction:column;
justify-content:center;
transform: translateX(0);
    }

.side-drawer .open ul {
transform: translateX(0);
list-style:none;
}

.side-drawer ul {
    height: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.side-drawer li {
    margin:0.5rem 0;
    list-style:none;
    padding:15px;
    text-align:center;
    border-bottom: 2px solid rgba(160, 154, 154, 0.604);
}

.side-drawer a {
    color:rgb(39, 39, 39);
    text-decoration:none;
    font-size:1.2rem;
    list-style:none;
}

.side-drawer a:hover,
.side-drawer a:active {
color:rgba(216, 160, 99, 0.939);
}


@media (min-width: 769px) {
    .side-drawer {
        display:flex;
        flex-direction:column;
}
.side-drawer,.open ul {
    width:18%;
    transform: translateX(0);
    margin-top:58px;
    }
}