.login { 
    display:grid;
    grid-template-columns:1fr 1fr;
    position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1000000;
        background: #2C2C3C;
}

.welcome {
    margin-bottom:30px;
    padding:30px;
}

.containerLeft { 
    text-align:center;
    color:white;
    align-self:center;
    }

.containerLogin {
     height: 100%;
    justify-items: center;
    text-align: center;
    align-self: center;
    box-shadow: inset 0px 0px 0px 14px rgba(247,225,4,1);
    }
    
.containerInputs {
    margin-top:15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerInputs h1 {
    color: white;
    font: Arial;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;
    line-height: 52.73px;
    letter-spacing: 24.5%;
    align-self: Right;
}

.containerInputs input {
    padding-left:20px;
    width: 60%;
    height: 60px;
    border-radius: 20px;
    margin:10px;
}

::placeholder {
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    color: #BDBDBD;
} 


.loginlogos {
    display:grid;
    grid-template-rows:1fr 1fr;
}
.logoleft { 
    grid-template-rows:1fr 1fr;
color:white;
text-align:center;
align-self:flex-start;
margin-bottom:100px;
}

.logowupleft { 
    grid-template-rows:1fr 1fr;
    display:flex;
    flex-direction:column;
    color:white;
    text-align:center;
    align-self:center;
    }

.logologin { 
display:none;
}

.logowuplogin{ 
    display:none;
    }

.logintittle {
color:white;
text-align:center;
align-self:flex-start;
padding-top:4%;
}

.input {
    padding:0px;
}

.inputimg {
    position: relative;
    width:80%;

}

.inputimg img {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
}



/* MOBILE */
@media (max-width:900px) {
.main-container h1 {
    display: grid;
    width: 100%;
    text-align: center;
    margin-top: 15%;
    font-size: 1rem;
}

.content {
    width: 100%;
    background-size: cover;
    text-align: center;
    margin-top: 3.4%;
    margin-left: 0;
}

.welcome {
    margin-top:0PX;
}
.login { 
    grid-template-columns:1fr;
}

.containerLogin {
 padding:0px;
width:100%;
text-align:center;
box-shadow: inset 0px 0px 0px 14px rgba(247,225,4,1);
}

.containerInputs {
 margin-top:0px;
/* height: 70%; */
width:100%;
}

.containerInputs input {
    text-align:left;
    width: 80%;
    height: 2%;
}

.containerLeft { 
display:none;
}

.logoleft { 
display:none;
}

.logowupleft {
display:flex;
 }

.logologin { 
margin-top:30px;
display:flex;
justify-content: center;
color:white;
text-align:center;
}

.logologin, img {
    /* padding-left: 10%;  */
    text-align:center;
    width:30%;
}

.logowuplogin {
   display:flex; 
   /* width:100px; */
}

.welcome {
width:100%;
color:white;
text-align:center;
align-self:flex-start;
padding-bottom:5%;
}

.input {
    font-size:6px;
    padding:20px;
}

.inputimg img {
    margin-left:2px;
    width:22px;
    position: absolute;
    top: 8px;
    padding: 9px 8px;
}

}