html {
  height:100%;
}

body {
  margin: 0;
  font-family:sans-serif;
   height:100%;
}

.footer {
  color:rgb(185, 181, 181);
  width:180%;
  text-align:center;
  position:fixed;
  bottom:0;
  padding:10px;
  text-align:right;
  align-content:center;
}


@media (max-width:768px) {
.footer {
  width:100%;
}
}